<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <main>
    <%- include('../partials/header') %>
    <%- include('../partials/navigation') %>
    
    
        <%- body %>
    

    <%- include('../partials/footer') %>
</main>
</body>
</html>
